body {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #f5f3f3b7;
  height: 100vh;
  padding-top: 0;
}

#btn {
  margin-top: 2em;
  background-color: white;
  border: 2.5px solid;
  border-radius: 0.5em;
  padding: 1em;
}

#name {
  display: none;
}

.main {
  width: 90%;
  margin: auto;
}

.intro {
  text-align: center;
}

.intro p {
  line-height: 1rem;
}

.career {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.objectives h2 {
  border-bottom: solid 3px;
}

.school h2 {
  border-bottom: solid 3px;
}

.abia {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.abia h3 {
  margin-top: 0;
  line-height: 0;
}

.skills {
  display: flex;
  justify-content: space-between;
}

.skills h2 {
  border-bottom: solid 3px;
}

.skills img {
  margin-bottom: 5em;
}

@media (max-width: 600px) {
  .skills {
    flex-direction: column;
    justify-content: center;
  }

  .skills img {
    margin: auto;
    margin-bottom: 15px;
  }
}
